<div class="clear" ng-repeat="element in tutorial" ng-click="showNotes = !showNotes">
    <h1 class="title" ng-if="element.type=='title'">{{element.text}}</h1>
    <p class="paragraph" ng-if="element.type=='paragraph'">{{element.text}}</p>
    <img class="image" ng-if="element.type=='image'" src="{{element.url}}" />

    <div class="notes" ng-if="element.hasOwnProperty('notes')" ng-show="showNotes">
        <p  ng-repeat="note in element.notes">{{note.note}}</p>
    </div>

    <div ng-if="element.type=='branches'" ng-repeat="branch in element.branches">
        <div class="branch" ng-class="{selected: tutorial.selectedBranch==branch}"
             ng-click="tutorial.selectedBranch = branch">
            {{branch}}
        </div>
    </div>

    <tutorial ng-if="element.type=='branch' && tutorial.selectedBranch==element.name"
              tutorial="element.branch"></tutorial>
</div>