<!doctype html>
<html lang="en" ng-app="BranchedTutorial">
  <head>
    <meta charset="UTF-8">
    <title>Branched Tutorial</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css">
    <script src="modernizr/modernizr.js"></script>
  </head>
  <body ng-controller="mainController">
    <select ng-model="selectedVersion"
            ng-options="version for version in versions">
    </select>

    <tutorial ng-repeat="(version, data) in tutorial"
              ng-if="version == selectedVersion"
              tutorial="data">
    </tutorial>

    <script src="/angularjs/angular.js"></script>

    <script src="/scripts/templates.js"></script>
    <script src="/scripts/app.js"></script>

    <script src="/scripts/tutorialService.js"></script>

    <script src="/scripts/mainController.js"></script>

    <script src="/scripts/tutorialDirective.js"></script>
  </body>
</html>