/**
 *  SHAME MODULE
 *
 *  sandbox for various experiments and other stuff that should be refactored in the future
 *
 */

body{
  width: 700px;
}

.version-select{
  float: right;
}

.tutorial{
  margin: 10px 0 0 20px;
  clear: both;
}

.clear{
  clear: both;
}

.title{
  font-size: 20px;
}

.notes{
  margin-left: 50px;
  border: black 1px solid;
  border-radius: 5px;
  padding: 5px;
}

.branch{
  margin: 5px;
  color: #00c;
  float: left;
  cursor: pointer;

  &:hover{
    color: #005;
  }
}

.selected{
  color: #c00;

  &:hover{
    color: #500;
  }
}