/**
 *  SHAME MODULE
 *
 *  sandbox for various experiments and other stuff that should be refactored in the future
 *
 */

body{
  width: 1000px;
}

.tutorial{
  clear: both;
  margin: 10px 0 0 20px;
}

.title{
  font-size: 20px;
}

.content{
  float: left;
}

.image-container{
  position: relative;
}

.image-tag{
  background-color: #000;
  bottom: 7px;
  color: #eee;
  cursor: pointer;
  padding: 0 5px 0 5px;
  position: absolute;
  right: 0px;
}

.notes{
  border: #666 1px solid;
  border-radius: 5px;
  float: left;
  margin: 0 0 0 5px;
  padding: 5px;
}