/**
 *  SHAME MODULE
 *
 *  sandbox for various experiments and other stuff that should be refactored in the future
 *
 */

body{
  width: 1000px;
}

.tutorial{
  margin: 10px 0 0 20px;
  clear: both;
}

.title{
  font-size: 20px;
}

.content{
  float: left;
}

.notes{
  border: #666 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 0 5px;
  float: left;
}