/**
 *  SHAME MODULE
 *
 *  sandbox for various experiments and other stuff that should be refactored in the future
 *
 */

body{
  width: 1000px;
}

.tutorial{
  clear: both;
  margin: 10px 0 0 20px;
}

.version-list{
  float: right;
  border: black solid 1px;
}